@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  nav li {
    @apply font-heading;
  }

  .serif-heading {
    @apply font-body;
  }

  /* custom curve 1 */
  .curves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .curves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
  }

  .curves .shape-fill {
    fill: #e4e4e7;
  }

  /* custom curve 2 */
  .curves-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .curves-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
    transform: rotateY(180deg);
  }

  .curves-2 .shape-fill {
    fill: #a1a1aa;
  }

  /* expanding nav fade in */
  .fade-in-nav {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
